@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,200&family=Roboto:ital,wght@0,300;0,700;1,300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(250, 249, 230);
    font-family:'Roboto Mono', monospace;
    margin-bottom: 100px;
    margin: 48px;
}

header {
    margin: 40px;
    padding: 18px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 32px;
}

button, .number {
    background-color: coral;
    border: 2px solid red;
    border-radius: 5px;
    padding: 8px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    margin: 8px;
    flex-basis: auto;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: lightcoral;
    border: 2px solid lightcoral;
    border-radius: 5px;
    width: 250px;
    height: auto;
}

.equals {
    flex-grow: 4;
}

.console {
    background-color: green;
    border-radius: 5px;
    width: 250px;
    height: auto;
    padding: 4px;
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    color: lightgreen;
    text-align: right;
}